<div class='last-release-right-part'>
  <%= link_to 'Отправить статью', '#', class: 'btn btn-success add-article' %>
  <%= link_to 'Требования к оформлению статей', '/ru/informatsiya-dlya-avtorov' %>

  <div class='title'>Последний выпуск</div>
  <%= link_to image_tag('Magazine.jpg', width: '200', class: 'img-responsive'), 'https://tusur.ru/storage/41406/Magazine.jpg', class: 'colorbox' %>

  <div class='content'>
    <%= link_to "Доклады ТУСУР - выпуск #{Issue.last.full_number}", '#' %>
  </div>
</div>
