{{ article.authors }}
<h2>Авторы</h2>

<div class='authors-list'>
  <div ng-repeat='author in article.authors'>
    {{ author.ru_surname }} {{ author.ru_name }} {{ author.ru_patronymic }}
    <a ng-click='article.authors.removeAuthor(author)' href='javascript:void(0)'>
      <span class='glyphicon glyphicon-remove' data-toggle='tooltip' data-placement='right' title='Удалить автора'></span>
    </a>
  </div>
</div>

<div class='author-search form-fieldset' ng-hide='authors.show_additional_author_form'>
  <span class='form-fieldset-label'>
    Найти среди существующих авторов:
  </span>
  <angucomplete-alt id='authors'
    placeholder='Начните вводить имя автора'
    pause='400'
    selected-object='article_authors.addAuthor'
    remote-url='/manage/authors/search?q='
    remote-url-request-formatter='article_authors.searchParams'
    remote-url-response-formatter='article_authors.responseFormatter'
    title-field='ru_surname,ru_name,ru_patronymic'
    input-class='form-control form-control-small author-search-input'
    text-searching='Поиск'
    clear-selected='true'>
  </angucomplete-alt>
</div>
