app:
  domain:               domain
  name:                 name
  url:                  url
  host:                 host
  secret:               secret

errors:
  key:                  KEY
  url:                  http://errbit

slack:
  channel:              channel
  webhook:              http://webhook

redis:
  url:                  url

redis_user_connector:
  url:                  url

session_store:
  db:                   db
  key_prefix:           key_prefix
  host:                 host
  port:                 port

profile:
  url:                  url
  sign_in_url:          sign_in_url
  sign_out_url:         sign_out_url
  users_url:            users_url

storage:
  url:                  url

cms:
  url:                  url
  site_slug:            site_slug_cms

directory:
  fulltext_fullname:    url
  by_fullname:          url
  by_name:              url
  url:                  url

solr:
  url:                  url

postman:
  url:                  url
  slug:                 slug

mail:
  new_claim:
    to:                 to@email.to

recaptcha:
  public:               public
  private:              private
