<% content_for :page_header do %>
  Номер
  <%= @issue.full_number %>
  за <%= @issue.year %> год
<% end %>

<div class='row'>
  <div class='col-xs-12'>
    <p>
      <%= link_to 'Изменить', edit_manage_issue_path(@issue), class: 'btn btn-default' %>
      <%= link_to 'назад', manage_issues_path, class: 'btn btn-default' %>
    </p>
  </div>
</div>
