<%= content_for :tusur_cdn_header_subtop do %>
  <%= render partial: 'application/navigation/subtop_navigation' %>
<% end %>

<% content_for :tusur_cdn_header_menu do %>
  <% if @main_navigation.present? %>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-12'>
          <span class='tusur-cdn-header-menu-toggler visible-xs'>&#9776;</span>
          <ul class='nav nav-pills col-sm-12'>
            <%= render :partial => 'public_navigation_items' %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<%= render partial: 'tusur_header/tusur_header' %>
